<!-- projects -->
<div class="category projects">
    <div class="cat-title">
      <span class="cat-name">Certs</span>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">

    {% for p in site.data.certs %}
      <div class="listing">
        <div class="list-icon"></div>
        <div class="list-item">
          <div class="title">{{ p.title }}</div>
          <div class="item-with-time">
            <span class="time">{% if p.date %}<span class="item">{{ p.date }}</a>{% else %} N/A </span>{% endif %}</span>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
<!-- end -->